---
import Layout from "@layouts/Layout.astro";
import App from "@components/App";
import Foot from "@components/Foot.astro";
---

<Layout title="URL Shortener">
  <div class="flex flex-col min-h-screen">
    <div class="w-full flex-grow bg-bgColor text-textColor">
      <App client:only />
    </div>

    <Foot />
  </div>
</Layout>
